
<button class="open-button" onclick="openForm()">Login Form</button>

<div class="form-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Sign up</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>




<button class="open-button" onclick="openForm1()">Sign up Form</button>

<div class="form" id="Form">
  <form action="/action_page.php" class="form-container">
    <h1>Login</h1>
    
    <label for="firstname"><b>First name</b></label>
    <input type="text" placeholder="Enter First name" name="firstname" required>

 <label for="lastname"><b>First name</b></label>
    <input type="text" placeholder="Enter Last name" name="lastname" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">sign up</button>
    <button type="button" class="btn cancel" onclick="closeForm1()">Close</button>
  </form>
</div>

<script>
function openForm1() {
  document.getElementById("Form").style.display = "block";
}

function closeForm1() {
  document.getElementById("Form").style.display = "none";
}

function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

