
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
  <form method="POST" action ="/contact-us">
    <label for="fname">First Name</label>
    <input type="text" id="firstName" name="firstName" placeholder="Your name.." required>

    <label for="lname">Last Name</label>
    <input type="text"  id="lastName" name="lastName" placeholder="Your last name.." required>
    
<label for="email">Email</label>    
    <input type="text" id="email" name="email" placeholder="Your email " required>
   

    <label for="subject">Subject</label>
    <textarea id="message" name="message" placeholder="Write something.." style="height:150px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
